<!DOCTYPE>
<html ng-app="myApp">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="myStyle.css">

<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="jquery.flot.js"></script>

<script type="text/javascript" src="controllers/controller.js"></script>
  <title>Arduino2Node</title>
  <script src="/socket.io/socket.io.js"></script>
   <script>
		var socket = io();
   </script>
</head>
<body>
  <div class="container" ng-controller="AppCtrl">
   <div class="header">
  		<div class="jumbotron">
    		<h1>Arduino2Node <small>Bringing IoT to people</small></h1>
    		
	  	</div>    
	</div>

    <table class="table">
      <thead>
        <tr>
        <tr>
          <th>Time </th>         
          <th>Temperature [C]</th>
          <th>Humidity [%]</th>

        
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input class="form-control" ng-model="contact.time"></td>
          <td><input class="form-control" ng-model="contact.temperature"></td>
          <td><input class="form-control" ng-model="contact.humidity"></td>
          <td><button class="btn btn-primary" ng-click="addContact()">Add</button></td>
          <td><button class="btn btn-info" ng-click="update()">Update</button>&nbsp;&nbsp;<button class="btn btn-info" ng-click="deselect()">Clear</button></td>
        </tr>
        <tr ng-repeat="contact in contactlist">
	
          <td>{{contact.time}}</td>
          <td>{{contact.temperature}} C</td>
          <td>{{contact.humidity}}%</td>
          <td><button class="btn btn-danger" ng-click="remove(contact._id)">Remove</button></td>
          <td><button class="btn btn-warning" ng-click="edit(contact._id)">Edit</button></td>
        </tr>
      </tbody>
	  
	  
    </table>

	<div style="width:70%" >
			<div>
				<canvas id="canvas" height="450" width="600"></canvas>
			</div>
		</div>
		
		<div class="col-md-3">
    		</div>
    		<div class="col-md-6">
    			<div id="chart-div" class="chart-div"></div>
    		</div>
    		<div class="col-md-3">
    		</div>	
  </div>



</body>
</html>
